<main class="container">
  <h1 class="text-center text-light">Topics: </h1>
  <mat-card style="margin-bottom: 10px;" *ngFor="let lesson of (lessons$ | async)?.lessons">
    <mat-card-header>
      <mat-card-title>
        <img width="60px" class="img-thumbnail" src="{{lesson.image}}" />
        {{lesson.title}}
      </mat-card-title>
    </mat-card-header>
    <span class="float-right" style="margin-top: -35px;">
      <a *ngIf="!isAdmin" class="no-deco" mat-raised-button color="primary" routerLink="/lesson/preview/{{lesson._id}}">Preview Lesson</a>
      <a *ngIf="isAdmin" class="no-deco" mat-raised-button color="warn" routerLink="/lesson/remove/{{lesson._id}}">Remove Lesson</a>
    </span>
  </mat-card>
  <h3 class="text-center text-light" *ngIf="(lessons$ | async)?.lessons.length === 0">No topics to this course yet.</h3>
</main>