.bgimg::before {
    display: block;
    width: 100%;
    height: 100%;
    background: url('http://www.procoder.my/image/landing2.jpeg') no-repeat center center fixed;
    filter: opacity(50%);
    content: "";
    position: absolute;
  }
  
  .bgimg {
    position: relative;
  }
  
  .bgimg-inside {
    position: relative;
  }
  
  .text-landing {
    margin-left: 20%; 
    margin-right: 20%;
  }
  
  .landing-caption {
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .img-thumbnail {
    margin: 1px;
  }
  
  .img-hover:hover {
      filter: blur(5px);
  }

  div.animated-arrow {
    margin-left: auto;
    margin-right: auto;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    border-bottom: 4px solid #DE3163;
    border-right: 4px solid #DE3163;
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%  { top: 0px; }
    35% { top: 30px; }
    70% { top: 0px; }
  }