<main class="container fix-margin-top">
  <div class="row fix-row">
    <mat-card style="width: 30%; margin-right: 3%; margin-bottom: 3%;" *ngFor="let course of (courses$ | async)?.courses">
      <mat-card-header>
        <mat-card-title>{{course.language}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{course.flag}}" alt="Flag">
      <mat-card-actions fxLayoutAlign="end">
        <a class="no-deco" *ngIf="!isAdmin" style="width: 100%" mat-raised-button color="primary" routerLink="/course/lessons/{{course._id}}">Enroll</a>
        <a class="no-deco" *ngIf="isAdmin" style="width: 100%" mat-raised-button color="warn" routerLink="/course/lessons/{{course._id}}">Manage lessons</a>
      </mat-card-actions>
    </mat-card>
  </div>
</main>